@model ZadatakProizvod.Models.Proizvod

@{
    ViewBag.Title = "Details";
}

<h2>Detaljni prikaz</h2>

<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dobavljac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dobavljac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Promeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vrati nazad", "Index")
</p>
